{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="{% static 'css/mdb.min.css' %}" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>
<body>

<div class="container">
<div class="header" align="center">

      <div class="d-flex justify-content-between">
  <img class="left" src="{% static 'log/SBM.png' %}" alt="star"/>
  <h1> <b>FPSO NGOMA</b></h1>
  <img class="right" src="{% static 'log/SOS.png' %}" alt="star"/>

</div>
<h3 align="center">Daily Temperature Monitoring Log</h3>
    </div>
    </div>
<div class="container">
    <br>
    <div class="row ">
        <div class="col-sm-2 "></div>
        <div class="col-sm-8 ">
            <table class="table justify-content-center" >
                <tbody>
                    <tr>
                        <td>Name:       {{person.name}}</td>
                        <td>Department:      {{person.department}}</td>
                    </tr>
                    <tr>
                        <td>Company:    {{person.company }}</td>
                        <td>Rank:            {{person.rank}}</td>
                    </tr>
                    <tr>
                        <td>Date Joined:{{person.date_joined }}</td>
                        <td>Date Signed off:{{person.date_signedoff}}</td>
                    </tr>
                </tbody>
            </table>
        <div class="col-sm-2 "></div>
        </div>
    </div>
</div>
<br>


<div class="container">
        <table class="table table-bordered ">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Date</th>
                        <th scope="col">Morning</th>
                        <th scope="col">Evening</th>
                    </tr>
                </thead>
                <tbody>
                {% for temp in temperature %}

                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{temp.date_temp_taken}}</td>
                        <td>{{temp.temp_AM}}</td>
                        <td>{{temp.temp_PM}}</td>
                    </tr>

                {% endfor %}

                </tbody>
        </table>
    </div>

<br>

    <div class="container">

    <div class="row">
        <div class="col-5">
            Monitored By: <br><br>
            _________________________ <br>
            {{medic.user.name}}, MD <br>
            N'goma Medic

        </div>
        <div class="col-3">

        </div>
        <div class="col-4">
            Noted By: <br><br>
            _________________________ <br>
            {{oim.user.name}} <br>
            N'goma OIM

        </div>

    </div>
</div>


<p style="page-break-after: always;">&nbsp;</p>
<p style="page-break-before: always;">&nbsp;</p>

<div class="container">
    <img class="float-left" src="{% static 'log/SBM_logo.png' %}" width="15%">

    <span class="text-nowrap "><h4 class="align-bottom text-center"><br><br><b>HEALTH STATUS DECLARATION – COVID-19</b></h4>
    </span>

</div>

<br>
<div class="container">
        <div class="text-right">
        <h5>FPSO NGOMA, <br>ENI BLOC 15/06</h5>
        </div>
    </div>

<br>
<br>
<br>
<div class="container">
    <h5 >{{person.date_signedoff}}
    <br>
    <br>
    <b>Subject: Health Status Declaration</b>
    <br>
    <br>
    <p>To who it may concern,</p>
    <br>
    <p>I hereby declare that Mr <u>{{person.name}}</u> was working offshore from <u>{{person.date_joined}}</u> to <u>{{person.date_signedoff}}</u>
and during this period his (her)  health was daily monitored and his (her) temperature measured and
registered, attached to this declaration you may find the registration.
Moreover, I declare that during this time he (she) did not present any signs or symptoms related with
Covid-19 infection.</p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
<div class="container">

    <div class="row">
        <div class="col-4">
            Yours sincerely: <br><br>
            _________________________ <br>
            {{medic.user.name}}, MD <br>
            N'goma Medic

        </div>
        <div class="col-4">

        </div>
        <div class="col-4">
            Noted By: <br><br>
            _________________________ <br>
            {{oim.user.name}} <br>
            N'goma OIM

        </div>

    </div>
</div>
</h5>
        </div>
<br>
<br>



    <div class="d-print-none">
          <a class="btn btn-primary text-center" href="{% url 'print' person.id %}" role="button">Print</a>
    </div>

</body>
</html>




